@import '../../icons/material';
@import 'materialize';

html {
	background-color: #E86C13;
    height: 100%;
}

body {
	background-color: #F2F2F2;
	min-height: 100%;
    min-width: 320px;
    max-width: 600px;
    margin: 0 auto;
    position: relative;

    font-family: 
		/* android 5 */
    	Roboto, 
		/* iOS 8+ */
    	-apple-system-font, 
		/* Windows Phone */
    	'Segoe UI', 
		/* OSX */
    	'Helvetica Neue', 
		/* fallback */
    	Helvetica, Arial, sans-serif;
}

/* estilo do titulo */
.titulo {
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
}

/* cor da aba */
.tabs .indicator {
    background-color: white;
}

.collection {
	font-size: 18px;
}

/* fixo no topo */
.topo-fixo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

	@media(min-width: 600px) {
		position: absolute;
	}

    a {
    	color: inherit;
    }
}

/* uncss:ignore */
.unloading {
	background-color: #F2F2F2;
	position: fixed;
	z-index: 10000;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	/* efeito slide */
	transform: translate3d(-300%,0,0);
	transition: transform 1500ms ease-out;

	/* efeito diminuir */
	opacity: 0;
	transform: scale(0);
	transition: transform 500ms ease-out, opacity 600ms;
}

@keyframes loading {
	from { transform: translate3d(100%,0,0); }
	to { transform: translate3d(0,0,0); }
}

.loading {
	background-color: #F2F2F2;
	position: fixed;
	z-index: 10000;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	animation: loading 1s;
}

.lojas {
    padding-top: 125px;
}

.pagar {
	padding-top: 75px;	
}

img {
	max-width: 100%;
}

.parallax-container {
	height: 240px;
	z-index: 1;

	a {
    	color: white;
    	display: block;
    	position: absolute;
    	z-index: 100;
    }
}

.home {
	background-color: #F57F16;
	background: url(../img/entrada.jpg) center top;
	background-size: cover;
	height: 100vh;

	display: flex;
	flex-direction: column;

	h1 {
		background: #ffb300;
	    color: white;
	    margin-top: auto;
	    margin-bottom: 1.25em;
	    font-size: 2em;
	    text-align: center;
	    padding: 10px 0;
	    text-transform: uppercase;
	}

	.collection {
		margin-bottom: 1.6em;

		.collection-item {
			color: #444;
		}

		.material-icons {
			margin: 0.2em;
			vertical-align: middle;
		}
	}
}

.pagar {
	padding-bottom: 40px;

	.btn {
		width: 100%;
	}

	.code-scan {
		margin-top: 1em;

		i {
			font-size: 30px;
		}
	}

	.modal {
		height: 80%;
		max-height: 80%;

		.btn {
			display: inline-block;
			font-size: 90%;
			width: auto;
			padding: 0 10px;
			margin: 4px;
		}
	}

	#interactive {
		transform: scale(0.4);
		transform-origin: 0 0;
		position: absolute;
	}
}