</div><!--/.current-page-->

<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/materialize-0.97.0.min.js"></script>
<script src="js/spa.js"></script>
<script src="js/main.js"></script>
<script src="js/install.js"></script>

<script src="js/pagamento.js"></script>
<script src="js/vendor/quagga.min.js"></script>
<script src="js/barcode.js"></script>

</body>
</html>
