</div><!--/.current-page-->

<script src="<%= rootPath %>/js/vendor/jquery.min.js"></script>
<script src="<%= rootPath %>/js/vendor/materialize-0.97.0.min.js"></script>
<script src="<%= rootPath %>/js/main.js"></script>

</body>
</html>
