<!doctype html>
<html lang="pt-br" manifest="<%= rootPath %>/appcache.manifest">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#F77F00">
    <link rel="manifest" href="<%= rootPath %>/manifest.json">

    <link rel="stylesheet" href="<%= rootPath %>/css/main.css">
</head>
<body>
<div class="current-page">
